<div class="center jumbotron">
  <div class="text-center">
    <h2>New クラシファイド</h2>
    <% @c_boards.each do |c_board| %>
      <div class="panel panel-default main-panel">
      	<div class="panel-heading">
      		<span class="li-top">
          <span class="li-title"> 
           <%= link_to c_board.title, c_board %>
          </span>
        </div>
        <div class="panel-body">
        	<%= image_tag c_board.image.thumb.url.to_s, class: "li-img" %>
              <%= link_to '詳細', c_board, class: "btn btn-primary" %>
            </span>
          </span>
        </div>
      </div>
    <% end %>
    
    <ul>
      <li>バンクーバー</li>
      <li>カルガリー</li>
      <li>トロント</li>
      <li>モントリオール</li>
    </ul>
  </div>
</div>