@charset "utf-8";

li {
  list-style: none;
}
/* header ----------------- */
.logo img{
  height: auto;
  width: 200px;
  margin:15px 0 15px;
}

i{
font-size: 1.3em;
color: inherit;
}
 
.navbar .navbar-inner {
padding: 0;
}
 
.navbar .nav {
margin: 0;
display: table;
width: 100%;
}
 
.navbar .nav li {
display: table-cell;
float: none;
}
 
.nav-icon {
font-weight: bold;
text-align: center;
border-left: 1px solid rgba(255, 255, 255, .75);
border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child {
border-left: 0;
}

.navbar .nav li:last-child ,.nav-end {
border-right: 0;
border-radius: 0 3px 3px 0;
}
.item {
  margin :0 auto;
  display : block; 
}

/* index c_board ----------------*/

.main-panel {
  margin : 20px auto;
}

.li-title, .li-area, .li-category {
  margin-left : 15px;
}

.li-title {
  font-size : 16px;
}

.li-details {
  margin-left : 10px;
  text-align : center;
}

/* show.view -----------------*/

.title {
  font-size : 20px;
}

.view-info {
  margin : 30px auto 15px auto;
}
.vie-info ul {
  padding : 30px;
}
.view-info li{
  border-bottom : 3px solid black;
  text-align : left;
  padding : 10px;
}
.details, .view-info {
  border : 1px solid black;
  border-radius : 5px;
  padding : 0 15px 10px 15px;
  background-color : white ;
}

.details h3 {
  text-align : left;
  border-bottom : 3px solid black;
  font-size : 20px;
}

/* form for cboard ----------------*/
.form-cboard {
  border : 1px solid black;
  border-radius : 3px;
  background-color : white;
  padding : 20px;
}

/* user table ---------------------*/
table.user-info {
    width: 500px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 18px;
}
 
table.user-info th,
table.user-info td {
    padding: 10px;
}
 
table.user-info th {
    background: #295890;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}
 
table.user-info th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
    table.user-info th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: #295890 10px solid;
        margin-top: -10px;
    }
}
 
table.user-info td {
    background: #f8f8f8;
    width: 340px;
    padding-left: 20px;
    text-align: center;
}
/* bootstrap carousel -----------------------*/
.carousel{
  width:85%;
  margin:auto;
}

.carousel img{
  width:100%;
}