<footer>
  <div class="footer-top text-center">
    <ul>
      <li><%= link_to "利用規約", terms_of_use_path %></li>
      <li><%= link_to "プライバシーポリシー", policy_path %></li>
      <li><%= link_to "お問い合わせ", inquiry_path %></li>
    </ul>
  </div>
  <div class="text-center text-muted">© 2017 CJ cloud.</div>
</footer>